<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="CSS/style.css">
    <title>Dairy Farm</title>
</head>
<body>
    <a href="/"><img id="logo" src="images/logo.jpg" alt="Logo"></a>
    <h1 id="header">Dairy Farm</h1>
    <ul>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/add">Add Customers</a></li>
        <li><a href="/update">Update Customers</a></li>
        <li><a href="/all">Show All Customers</a></li>
        <li><a href="/delete">Delete Customers</a></li>
       
    </ul>
    <table id="iframetable">
    <tr>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/loboA52svtQ" frameborder="0"
     allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </tr>
    </table>
    
</body>
</html>